# Backend Dependencies
fastapi
uvicorn
jinja2
aiofiles
pydantic
sqlalchemy
pydantic-settings
python-dotenv
pymysql

# ML / Data Dependencies
pandas
numpy
matplotlib
scikit-learn
scipy
joblib
jieba
snownlp
openai
